# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

build/
docs/*
libs/*
!get_libs.sh
tests/outputs/*
!tests/outputs/README.md
CMakeFiles/
